@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Roboto", "Palatino Linotype", Palatino, FreeSerif, serif !default;
$font-family-monospace: "Ubuntu Mono", monospace !default;

// colors
$link-color: #046380 !default;
$link-color-hover: #e73e01 !default;
$selection-bg: #046380 !default;

// headings
$presentation-heading-color: hsl(180, 100%, 15%);
$presentation-heading-font: "Yanone Kaffeesatz", "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-h3-font-size: 1em;

/*-- scss:rules --*/

.reveal h3 {
  color: #046380;
}

.reveal a {
  line-height: 1.3em;
  text-decoration: underline dotted;
}

.reveal strong {
  color: #e73e01;
}

.text-center {
  text-align: center;
}
